# 1.多表联合

In [9]:
# 纵向联合excel：vlookup SQL：join pandas:merge or join
# 横向联合sql：unit
import pandas as pd
students = pd.read_excel('./student_score.xlsx', sheet_name='students', index_col='ID')
scores = pd.read_excel('./student_score.xlsx', sheet_name='scores', index_col='ID')
table = students.merge(scores, on='ID', how='left').fillna(0)
table.score = table.score.astype(int)
print(table)

           name  score
ID
1   Student_001     92
3   Student_003     93
5   Student_005     82
7   Student_007     83
9   Student_009     85
11  Student_011     92
13  Student_013     93
15  Student_015     94
17  Student_017     90
19  Student_019     91
21  Student_021      0
23  Student_023      0
25  Student_025      0
27  Student_027      0
29  Student_029      0
31  Student_031      0
33  Student_033      0
35  Student_035      0
37  Student_037      0
39  Student_039      0

In [10]:
# join, 自动使用index联合，没有left_on, right_on
import pandas as pd
students = pd.read_excel('./student_score.xlsx', sheet_name='students', index_col='ID')
scores = pd.read_excel('./student_score.xlsx', sheet_name='scores', index_col='ID')
table = students.join(scores, how='left').fillna(0)
table.score = table.score.astype(int)
print(table)

           name  score
ID
1   Student_001     92
3   Student_003     93
5   Student_005     82
7   Student_007     83
9   Student_009     85
11  Student_011     92
13  Student_013     93
15  Student_015     94
17  Student_017     90
19  Student_019     91
21  Student_021      0
23  Student_023      0
25  Student_025      0
27  Student_027      0
29  Student_029      0
31  Student_031      0
33  Student_033      0
35  Student_035      0
37  Student_037      0
39  Student_039      0

# 2.数据校验（data validation）、轴的概念

In [22]:
import pandas as pd

# 数据校验
def score_validation(rows):
    try:
        assert 0 <= rows.score <= 100
    except:
        print(f'#{rows.ID}\tstudent {rows.name} has an invalid score {rows.score}.')
        
students = pd.read_excel('./students2.xlsx')
students.apply(score_validation, axis=1)
# print(students)

#1	student 0 has an invalid score -40.
#2	student 1 has an invalid score -30.
#3	student 2 has an invalid score -20.
#4	student 3 has an invalid score -10.
#16	student 15 has an invalid score 110.
#17	student 16 has an invalid score 120.
#18	student 17 has an invalid score 130.
#19	student 18 has an invalid score 140.
#20	student 19 has an invalid score 150.

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
dtype: object

In [23]:
import pandas as pd

# 数据校验
def score_validation(rows):
    if not 0 <= rows.score <= 100:
        print(f'#{rows.ID}\tstudent {rows.name} has an invalid score {rows.score}.')
        
students = pd.read_excel('./students2.xlsx')
students.apply(score_validation, axis=1)
# print(students)

#1	student 0 has an invalid score -40.
#2	student 1 has an invalid score -30.
#3	student 2 has an invalid score -20.
#4	student 3 has an invalid score -10.
#16	student 15 has an invalid score 110.
#17	student 16 has an invalid score 120.
#18	student 17 has an invalid score 130.
#19	student 18 has an invalid score 140.
#20	student 19 has an invalid score 150.

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
dtype: object

# 3.把一列数据分割成两列（data transformation）

In [30]:
import pandas as pd

employees = pd.read_excel('./employees.xlsx')
df = employees['full name'].str.split(' ', n=2, expand=True)
employees['first name'] = df[0]
employees['last name'] = df[1].str.upper()
print(employees)

   ID   full name first name last name
0   1  Chris Bosh      Chris      BOSH
1   2   April Ren      April       REN
2   3  Chris Bosh      Chris      BOSH
3   4   April Ren      April       REN
4   5   July Chen       July      CHEN
5   6   July Chen       July      CHEN
6   7  Chris Bosh      Chris      BOSH
7   8   July Chen       July      CHEN
8   9   April Ren      April       REN
9  10  Chris Bosh      Chris      BOSH