# 1.创建文件

In [4]:
import pandas as pd
df = pd.DataFrame({'ID':[1, 2, 3], 'Name':['Tim', 'Jenny', 'Chris']})
df = df.set_index('ID')
print(df)
df.to_excel('./output.xlsx')
print('Done!')

     Name
ID
1     Tim
2   Jenny
3   Chris
Done!

In [4]:
import pandas as pd
df = pd.DataFrame({'ID':[1, 2, 3], 'Name':['Tim', 'Victor', 'Nick']})
df = df.set_index('ID')
df.to_excel('./output.xlsx')
print('done!')
print(df)

done!
      Name
ID
1      Tim
2   Victor
3     Nick

# 2.读取文件

In [7]:
import pandas as pd
people = pd.read_excel('./people.xlsx')
print(people.shape)
print(people.columns)
print(people.head())

(386, 45)
Index(['订单ID', '下单日期', '下单时间', '订单状态', '订单所含票量（不含退订）', '退订日期', '退订票量', '分销商ID',
       '分销商名称', '分销商订单号', '游客姓名', '手机号', '证件号码', '订单实收金额（未换算）', '订单实收金额币种',
       '订单实收金额（CNY ）', '产品ID', '产品名称', '产品套餐类型', '国内海外-产品', '产品目的地', '票ID',
       '票状态', '使用完成日期', '票实收金额（未换算）', '票实收金额币种', '票实收金额（CNY ）', '资源ID', '资源名称',
       '资源类型', '国内海外-资源', '资源目的地', '资源状态', '是否赔付', '赔付金额', '供应商ID', '供应商名称',
       '供应商订单号', '是否预约', '预约日期', '使用日期', '使用时间', '资源底价（未换算）', '资源底价币种',
       '资源底价（CNY ）'],
      dtype='object')
                订单ID        下单日期      下单时间  订单状态  订单所含票量（不含退订）  退订日期  退订票量  \
0  20200110999000026  2020-01-10  09:56:56  使用完成             2   NaN     0
1  20200110999000026  2020-01-10  09:56:56  使用完成             2   NaN     0
2  20200110999000025  2020-01-10  09:56:56  使用完成             2   NaN     0
3  20200110999000025  2020-01-10  09:56:56  使用完成             2   NaN     0
4  20200109999000132  2020-01-09  17:59:53  使用过期             4   NaN     0

   分销商ID 分销商名称                分销商订单号  ... 供应商ID     供应商名称      供应商订单号  是否预约  \
0      2    携程  T3-01154-10920342097  ...    81  新加坡城市自由行  ZLCIERGLGT     否
1      2    携程  T3-01154-10920342097  ...    81  新加坡城市自由行  REGM8ZXQGT     否
2      2    携程  T3-01153-10920342097  ...    81  新加坡城市自由行  HEE4US9QGT     否
3      2    携程  T3-01153-10920342097  ...    81  新加坡城市自由行  WX6MEFATGT     否
4      2    携程  T3-69901-10919401148  ...    81  新加坡城市自由行  PMVWIKQPGT     否

  预约日期        使用日期      使用时间 资源底价（未换算）  资源底价币种 资源底价（CNY ）
0  NaN  2020-01-11  02:27:01      54.0     人民币       54.0
1  NaN  2020-01-11  02:27:17      54.0     人民币       54.0
2  NaN  2020-01-11  02:26:22      82.0     人民币       82.0
3  NaN  2020-01-11  02:26:41      82.0     人民币       82.0
4  NaN  2020-01-10  02:01:24     148.0     人民币      148.0

[5 rows x 45 columns]

- 若第一行，即索引0行为脏数据时，读取时

In [ ]:
# 若第一行，即索引0行为脏数据时，读取时：
people = pd.read_excel('./people.xlsx', header=1)
# 若数据无列名，需要人为设置列名时：
people = pd.read_excel('./peole.xlsx', header=None)
people.columns = ['ID', 'Type', 'Title', 'First Name', 'Middle Name', 'Last Name']
people = people.set_index('ID')
# OR
people.set_index('ID', inplace=True)
# 消除第一列总是生成的新的索引
people = pd.read_excel('./people.xlsx', index_col='ID')

# 3. 行、列、单元格

In [8]:
import pandas as pd
s1 = pd.Series()
print(s1.data)
print(s1.name)
print(s1.index)

<memory at 0x0000000008DA9F48>
None
Index([], dtype='object')

D:\program_program\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Series.data is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
# Series类似字典
d  ={'x':100, 'y':200, 'z':300}
print(d.keys())
print(d.values())
print(d['x'])

dict_keys(['x', 'y', 'z'])
dict_values([100, 200, 300])
100

In [13]:
# 将dictionary转换成Series
s1 = pd.Series(d)
print(s1)
print(s1.data)
print(s1.name)
print(s1.index)

x    100
y    200
z    300
dtype: int64
<memory at 0x0000000008DA9F48>
None
Index(['x', 'y', 'z'], dtype='object')

D:\program_program\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Series.data is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
# 创建Series
L1 = ['x', 'y', 'z']
L2 = [100, 200, 300]
s1 = pd.Series(L2, index=L1)
print(s1)
# or
s2 = pd.Series([100, 200, 300], index=['x', 'y', 'z'])
print(s2)

x    100
y    200
z    300
dtype: int64
x    100
y    200
z    300
dtype: int64

In [21]:
# 建立一张表
s1 = pd.Series([1, 2, 3], index=[1, 2, 3], name='A')
s2 = pd.Series([10, 20, 30], index=[1, 2, 3], name='B')
s3 = pd.Series([100, 200, 300], index=[1, 2, 3], name='C')
# {}字典把每个序列看作一列
df = pd.DataFrame({s1.name:s1, s2.name:s2, s3.name:s3})
print(df)
# []列表list把每个序列看作一行
df1 = pd.DataFrame([s1, s2, s3])
print(df1)
# index不同
s1 = pd.Series([1, 2, 3], index=[1, 2, 3], name='A')
s2 = pd.Series([10, 20, 30], index=[1, 2, 3], name='B')
s3 = pd.Series([100, 200, 300], index=[2, 3, 4], name='C')
# {}字典把每个序列看作一列
df3 = pd.DataFrame({s1.name:s1, s2.name:s2, s3.name:s3})
print(df3)

   A   B    C
1  1  10  100
2  2  20  200
3  3  30  300
     1    2    3
A    1    2    3
B   10   20   30
C  100  200  300
     A     B      C
1  1.0  10.0    NaN
2  2.0  20.0  100.0
3  3.0  30.0  200.0
4  NaN   NaN  300.0

# 4.数据区域读取&填充数字

In [38]:
import pandas as pd
Books = pd.read_excel('./Books.xlsx', skiprows=3, usecols='C:F', index_col=None, dtype={'ID':str, 'Instore':str, 'Date':str})
print(Books)
print(Books['ID'])

     ID      Name Instore Date
0   NaN  Book_001     NaN  NaN
1   NaN  Book_002     NaN  NaN
2   NaN  Book_003     NaN  NaN
3   NaN  Book_004     NaN  NaN
4   NaN  Book_005     NaN  NaN
5   NaN  Book_006     NaN  NaN
6   NaN  Book_007     NaN  NaN
7   NaN  Book_008     NaN  NaN
8   NaN  Book_009     NaN  NaN
9   NaN  Book_010     NaN  NaN
10  NaN  Book_011     NaN  NaN
11  NaN  Book_012     NaN  NaN
12  NaN  Book_013     NaN  NaN
13  NaN  Book_014     NaN  NaN
14  NaN  Book_015     NaN  NaN
15  NaN  Book_016     NaN  NaN
16  NaN  Book_017     NaN  NaN
17  NaN  Book_018     NaN  NaN
18  NaN  Book_019     NaN  NaN
19  NaN  Book_020     NaN  NaN
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
Name: ID, dtype: object

In [32]:
print(type(Books['ID']))
Books['ID'].at[0]=100
print(Books['ID'])

<class 'pandas.core.series.Series'>
0     100.0
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
Name: ID, dtype: float64

In [42]:
from datetime import date, timedelta
start = date(2018, 1, 1)
for i in Books.index:
    Books['ID'].at[i] = i+1
    Books['Instore'].at[i] = 'Yes' if i%2==0 else 'No'
    Books['Date'].at[i] = start
print(Books)

    ID      Name Instore        Date
0    1  Book_001     Yes  2018-01-01
1    2  Book_002      No  2018-01-01
2    3  Book_003     Yes  2018-01-01
3    4  Book_004      No  2018-01-01
4    5  Book_005     Yes  2018-01-01
5    6  Book_006      No  2018-01-01
6    7  Book_007     Yes  2018-01-01
7    8  Book_008      No  2018-01-01
8    9  Book_009     Yes  2018-01-01
9   10  Book_010      No  2018-01-01
10  11  Book_011     Yes  2018-01-01
11  12  Book_012      No  2018-01-01
12  13  Book_013     Yes  2018-01-01
13  14  Book_014      No  2018-01-01
14  15  Book_015     Yes  2018-01-01
15  16  Book_016      No  2018-01-01
16  17  Book_017     Yes  2018-01-01
17  18  Book_018      No  2018-01-01
18  19  Book_019     Yes  2018-01-01
19  20  Book_020      No  2018-01-01

In [40]:
print(Books['Instore'])
print(Books['Date'])

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
Name: Instore, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
Name: Date, dtype: object

# 5.填充日期序列

In [44]:
# 加天
from datetime import date, timedelta
start = date(2018, 1, 1)
for i in Books.index:
    Books['ID'].at[i] = i+1
    Books['Instore'].at[i] = 'Yes' if i%2==0 else 'No'
    Books['Date'].at[i] = start + timedelta(days=i)
print(Books)

    ID      Name Instore        Date
0    1  Book_001     Yes  2018-01-01
1    2  Book_002      No  2018-01-02
2    3  Book_003     Yes  2018-01-03
3    4  Book_004      No  2018-01-04
4    5  Book_005     Yes  2018-01-05
5    6  Book_006      No  2018-01-06
6    7  Book_007     Yes  2018-01-07
7    8  Book_008      No  2018-01-08
8    9  Book_009     Yes  2018-01-09
9   10  Book_010      No  2018-01-10
10  11  Book_011     Yes  2018-01-11
11  12  Book_012      No  2018-01-12
12  13  Book_013     Yes  2018-01-13
13  14  Book_014      No  2018-01-14
14  15  Book_015     Yes  2018-01-15
15  16  Book_016      No  2018-01-16
16  17  Book_017     Yes  2018-01-17
17  18  Book_018      No  2018-01-18
18  19  Book_019     Yes  2018-01-19
19  20  Book_020      No  2018-01-20

In [47]:
# 加年
from datetime import date, timedelta
start = date(2018, 1, 1)
for i in Books.index:
    Books['ID'].at[i] = i+1
    Books['Instore'].at[i] = 'Yes' if i%2==0 else 'No'
    Books['Date'].at[i] = date(start.year+i, start.month, start.day)
print(Books)

    ID      Name Instore        Date
0    1  Book_001     Yes  2018-01-01
1    2  Book_002      No  2019-01-01
2    3  Book_003     Yes  2020-01-01
3    4  Book_004      No  2021-01-01
4    5  Book_005     Yes  2022-01-01
5    6  Book_006      No  2023-01-01
6    7  Book_007     Yes  2024-01-01
7    8  Book_008      No  2025-01-01
8    9  Book_009     Yes  2026-01-01
9   10  Book_010      No  2027-01-01
10  11  Book_011     Yes  2028-01-01
11  12  Book_012      No  2029-01-01
12  13  Book_013     Yes  2030-01-01
13  14  Book_014      No  2031-01-01
14  15  Book_015     Yes  2032-01-01
15  16  Book_016      No  2033-01-01
16  17  Book_017     Yes  2034-01-01
17  18  Book_018      No  2035-01-01
18  19  Book_019     Yes  2036-01-01
19  20  Book_020      No  2037-01-01

In [54]:
# 加月
def add_month(d, md):
    yd = md//12
    m = d.month + md%12
    if m!= 12:
        yd += m//12
        m = m%12
    return date(d.year+yd, m, d.day)

from datetime import date, timedelta
start = date(2018, 1, 1)
for i in Books.index:
    Books['ID'].at[i] = i+1
    Books['Instore'].at[i] = 'Yes' if i%2==0 else 'No'
    Books['Date'].at[i] = add_month(start,i)
print(Books)

Books.set_index('ID', inplace=True)
print(Books)
Books.to_excel('./output1.xlsx')
print('Done!')

    ID      Name Instore        Date
0    1  Book_001     Yes  2018-01-01
1    2  Book_002      No  2018-02-01
2    3  Book_003     Yes  2018-03-01
3    4  Book_004      No  2018-04-01
4    5  Book_005     Yes  2018-05-01
5    6  Book_006      No  2018-06-01
6    7  Book_007     Yes  2018-07-01
7    8  Book_008      No  2018-08-01
8    9  Book_009     Yes  2018-09-01
9   10  Book_010      No  2018-10-01
10  11  Book_011     Yes  2018-11-01
11  12  Book_012      No  2018-12-01
12  13  Book_013     Yes  2019-01-01
13  14  Book_014      No  2019-02-01
14  15  Book_015     Yes  2019-03-01
15  16  Book_016      No  2019-04-01
16  17  Book_017     Yes  2019-05-01
17  18  Book_018      No  2019-06-01
18  19  Book_019     Yes  2019-07-01
19  20  Book_020      No  2019-08-01
        Name Instore        Date
ID
1   Book_001     Yes  2018-01-01
2   Book_002      No  2018-02-01
3   Book_003     Yes  2018-03-01
4   Book_004      No  2018-04-01
5   Book_005     Yes  2018-05-01
6   Book_006      No  2018-06-01
7   Book_007     Yes  2018-07-01
8   Book_008      No  2018-08-01
9   Book_009     Yes  2018-09-01
10  Book_010      No  2018-10-01
11  Book_011     Yes  2018-11-01
12  Book_012      No  2018-12-01
13  Book_013     Yes  2019-01-01
14  Book_014      No  2019-02-01
15  Book_015     Yes  2019-03-01
16  Book_016      No  2019-04-01
17  Book_017     Yes  2019-05-01
18  Book_018      No  2019-06-01
19  Book_019     Yes  2019-07-01
20  Book_020      No  2019-08-01
Done!