# 1.求和、求平均、统计导引

In [22]:
import pandas as pd
students = pd.read_excel('./students3.xlsx', index_col='ID')
students[['test_1', 'test_2', 'test_3']] = students[['test_1', 'test_2', 'test_3']].astype(int)
print(students)

           name  test_1  test_2  test_3
ID
1   Student_001      79      83      85
2   Student_002      76      83      81
3   Student_003      79      82      84
4   Student_004      75      79      81
5   Student_005      75      78      85
6   Student_006      75      78      85
7   Student_007      79      82      82
8   Student_008      79      81      80
9   Student_009      76      82      84
10  Student_010      77      82      85
11  Student_011      77      78      83
12  Student_012      76      83      82
13  Student_013      75      79      83
14  Student_014      76      79      80
15  Student_015      75      83      85
16  Student_016      78      80      80
17  Student_017      75      79      83
18  Student_018      77      79      80
19  Student_019      76      82      86
20  Student_020      79      82      85

In [23]:
temp = students[['test_1', 'test_2', 'test_3']]
print(temp)

    test_1  test_2  test_3
ID
1       79      83      85
2       76      83      81
3       79      82      84
4       75      79      81
5       75      78      85
6       75      78      85
7       79      82      82
8       79      81      80
9       76      82      84
10      77      82      85
11      77      78      83
12      76      83      82
13      75      79      83
14      76      79      80
15      75      83      85
16      78      80      80
17      75      79      83
18      77      79      80
19      76      82      86
20      79      82      85

In [24]:
result = temp.sum()
print(result)
print(type(result))

test_1    1534
test_2    1614
test_3    1659
dtype: int64
<class 'pandas.core.series.Series'>

In [25]:
row_sum = temp.sum(axis=1)
row_mean = temp.mean(axis=1)
students['sum'] = row_sum
students['mean'] = row_mean
print(students)

           name  test_1  test_2  test_3  sum       mean
ID
1   Student_001      79      83      85  247  82.333333
2   Student_002      76      83      81  240  80.000000
3   Student_003      79      82      84  245  81.666667
4   Student_004      75      79      81  235  78.333333
5   Student_005      75      78      85  238  79.333333
6   Student_006      75      78      85  238  79.333333
7   Student_007      79      82      82  243  81.000000
8   Student_008      79      81      80  240  80.000000
9   Student_009      76      82      84  242  80.666667
10  Student_010      77      82      85  244  81.333333
11  Student_011      77      78      83  238  79.333333
12  Student_012      76      83      82  241  80.333333
13  Student_013      75      79      83  237  79.000000
14  Student_014      76      79      80  235  78.333333
15  Student_015      75      83      85  243  81.000000
16  Student_016      78      80      80  238  79.333333
17  Student_017      75      79      83  237  79.000000
18  Student_018      77      79      80  236  78.666667
19  Student_019      76      82      86  244  81.333333
20  Student_020      79      82      85  246  82.000000

In [26]:
col_mean = students[['test_1', 'test_2', 'test_3', 'sum', 'mean']].mean()
col_mean['name'] = 'Summary'
students = students.append(col_mean, ignore_index=True)
print(students)

           name  test_1  test_2  test_3     sum       mean
0   Student_001    79.0    83.0   85.00  247.00  82.333333
1   Student_002    76.0    83.0   81.00  240.00  80.000000
2   Student_003    79.0    82.0   84.00  245.00  81.666667
3   Student_004    75.0    79.0   81.00  235.00  78.333333
4   Student_005    75.0    78.0   85.00  238.00  79.333333
5   Student_006    75.0    78.0   85.00  238.00  79.333333
6   Student_007    79.0    82.0   82.00  243.00  81.000000
7   Student_008    79.0    81.0   80.00  240.00  80.000000
8   Student_009    76.0    82.0   84.00  242.00  80.666667
9   Student_010    77.0    82.0   85.00  244.00  81.333333
10  Student_011    77.0    78.0   83.00  238.00  79.333333
11  Student_012    76.0    83.0   82.00  241.00  80.333333
12  Student_013    75.0    79.0   83.00  237.00  79.000000
13  Student_014    76.0    79.0   80.00  235.00  78.333333
14  Student_015    75.0    83.0   85.00  243.00  81.000000
15  Student_016    78.0    80.0   80.00  238.00  79.333333
16  Student_017    75.0    79.0   83.00  237.00  79.000000
17  Student_018    77.0    79.0   80.00  236.00  78.666667
18  Student_019    76.0    82.0   86.00  244.00  81.333333
19  Student_020    79.0    82.0   85.00  246.00  82.000000
20      Summary    76.7    80.7   82.95  240.35  80.116667

# 2.定位、消除重复数据

In [38]:
import pandas as pd

students = pd.read_excel('./students_duplicates.xlsx')
students[['test_1', 'test_2', 'test_3']] = students[['test_1', 'test_2', 'test_3']].astype(int)

# 消除重复数据
students.drop_duplicates(subset='name', inplace=True, keep='last')
print(students)

    ID         name  test_1  test_2  test_3
5    6  Student_006      79      80      84
6    7  Student_007      75      81      80
7    8  Student_008      76      82      80
8    9  Student_009      79      78      81
9   10  Student_010      77      83      81
10  11  Student_011      77      83      83
11  12  Student_012      78      83      83
12  13  Student_013      75      82      85
13  14  Student_014      75      83      85
14  15  Student_015      78      79      84
15  16  Student_016      76      82      85
16  17  Student_017      75      82      85
17  18  Student_018      76      81      83
18  19  Student_019      77      78      81
19  20  Student_020      78      80      81
20  21  Student_001      75      83      83
21  22  Student_002      77      83      82
22  23  Student_003      78      79      86
23  24  Student_004      77      83      82
24  25  Student_005      75      81      86

In [42]:
# 找出重复数据
students = pd.read_excel('./students_duplicates.xlsx')
dupe = students.duplicated(subset='name')
print(dupe)
print(dupe.any())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
21     True
22     True
23     True
24     True
dtype: bool
True

In [48]:
# 找出students中的重复数据
dupe = dupe[dupe == True]
print(dupe)
# or
dupe = dupe[dupe]
print(dupe.index)
print(students.iloc[dupe.index])

20    True
21    True
22    True
23    True
24    True
dtype: bool
Int64Index([20, 21, 22, 23, 24], dtype='int64')
    ID         name     test_1     test_2     test_3
20  21  Student_001  75.324084  83.715887  83.663148
21  22  Student_002  77.851013  83.141535  82.279206
22  23  Student_003  78.585744  79.975908  86.919217
23  24  Student_004  77.601705  83.075746  82.376256
24  25  Student_005  75.369419  81.215316  86.905766

# 3.行列转换

In [52]:
import pandas as pd
pd.options.display.max_columns = 999

vedios = pd.read_excel('./vedios.xlsx', index_col='month')
table = vedios.transpose()
print(table)

month         Jan   Feb    Mar    Apr    May    Jun    Jul    Aug    Sep  \
active user  1000  2000   3000   4000   5000   6000   7000   8000   9000
page view    3500  7000  10500  14000  17500  21000  24500  28000  31500

month          Oct    Nov    Dec
active user  10000  11000  12000
page view    35000  38500  42000