# 1.函数填充，计算列

In [3]:
# Chp 1学习了填充数值序列、文本序列与日期序列，本节学习函数填充，即动态计算值填充excel表
import pandas as pd
bookprice = pd.read_excel('./bookprice.xlsx', index_col='ID')
print(bookprice)

        name  listprice  discount  price
ID
1   Book_001         10       0.5    NaN
2   Book_002         20       0.5    NaN
3   Book_003         30       0.5    NaN
4   Book_004         40       0.5    NaN
5   Book_005         50       0.5    NaN
6   Book_006         60       0.5    NaN
7   Book_007         70       0.5    NaN
8   Book_008         80       0.5    NaN
9   Book_009         90       0.5    NaN
10  Book_010        100       0.5    NaN
11  Book_011        110       0.5    NaN
12  Book_012        120       0.5    NaN
13  Book_013        130       0.5    NaN
14  Book_014        140       0.5    NaN
15  Book_015        150       0.5    NaN
16  Book_016        160       0.5    NaN
17  Book_017        170       0.5    NaN
18  Book_018        180       0.5    NaN
19  Book_019        190       0.5    NaN
20  Book_020        200       0.5    NaN

In [5]:
# 操作符的重载：加入 * 两边是两个Series，相乘时会将两个Series对齐相乘
bookprice['price'] = bookprice['listprice'] * bookprice['discount']
print(bookprice)

        name  listprice  discount  price
ID
1   Book_001         10       0.5    5.0
2   Book_002         20       0.5   10.0
3   Book_003         30       0.5   15.0
4   Book_004         40       0.5   20.0
5   Book_005         50       0.5   25.0
6   Book_006         60       0.5   30.0
7   Book_007         70       0.5   35.0
8   Book_008         80       0.5   40.0
9   Book_009         90       0.5   45.0
10  Book_010        100       0.5   50.0
11  Book_011        110       0.5   55.0
12  Book_012        120       0.5   60.0
13  Book_013        130       0.5   65.0
14  Book_014        140       0.5   70.0
15  Book_015        150       0.5   75.0
16  Book_016        160       0.5   80.0
17  Book_017        170       0.5   85.0
18  Book_018        180       0.5   90.0
19  Book_019        190       0.5   95.0
20  Book_020        200       0.5  100.0

In [ ]:
# range(5:16)左开右闭
for i in range(5:16):
for i in bookprice.index:
    bookprice['price'].at[i] = bookprice['listprice'].at[i] * bookprice['discount'].at[i]
# 每本书的listprice涨两块钱 方法1
bookprice['listprice'] = bookprice['listprice'] + 2 
# 每本书的listprice涨两块钱 方法2 用apply函数
def add_2(x):
    return x+2 + 2 
bookprice['listprice'] = bookprice['listprice'].apply(add_2)
# 每本书的listprice涨两块钱 方法2 用lambda
bookprice['listprice'] = bookprice['listprice'].apply(lambda x:x+2)

# 2.排序，多重排列

In [9]:
import pandas as pd
list = pd.read_excel('./list.xlsx')
# 按price由高到低排序
# inplace=True使得在原来DataFrame基础上变换，不会生成新的DataFrame
list.sort_values(by='price', inplace=True, ascending=False)
print(list)

    ID      name      price worthy
6    7  Book_007  11.857665    Yes
19  20  Book_020  11.672735    Yes
1    2  Book_002  11.507424    Yes
0    1  Book_001  11.329992    Yes
9   10  Book_010  11.266597    Yes
4    5  Book_005  11.210753    Yes
2    3  Book_003  11.070359     No
14  15  Book_015  10.712900     No
8    9  Book_009  10.710777     No
3    4  Book_004  10.473640    Yes
10  11  Book_011  10.416363    Yes
12  13  Book_013   9.176972    Yes
16  17  Book_017   8.852774    Yes
11  12  Book_012   8.563796     No
17  18  Book_018   7.816758     No
15  16  Book_016   7.117960    Yes
5    6  Book_006   6.911478     No
13  14  Book_014   6.906171    Yes
7    8  Book_008   5.249676    Yes
18  19  Book_019   5.165471    Yes

In [13]:
# 多重排序，将字段依次写到by后的list中
list.sort_values(by=['worthy', 'price'], inplace=True, ascending=[True, False])
print(list)

    ID      name      price worthy
2    3  Book_003  11.070359     No
14  15  Book_015  10.712900     No
8    9  Book_009  10.710777     No
11  12  Book_012   8.563796     No
17  18  Book_018   7.816758     No
5    6  Book_006   6.911478     No
6    7  Book_007  11.857665    Yes
19  20  Book_020  11.672735    Yes
1    2  Book_002  11.507424    Yes
0    1  Book_001  11.329992    Yes
9   10  Book_010  11.266597    Yes
4    5  Book_005  11.210753    Yes
3    4  Book_004  10.473640    Yes
10  11  Book_011  10.416363    Yes
12  13  Book_013   9.176972    Yes
16  17  Book_017   8.852774    Yes
15  16  Book_016   7.117960    Yes
13  14  Book_014   6.906171    Yes
7    8  Book_008   5.249676    Yes
18  19  Book_019   5.165471    Yes

# 3.筛选过滤

In [14]:
# 筛选students表中年龄在[18,30)之间，且分数属于级别A（85<=score<200）的student
import pandas as pd
students = pd.read_excel('./students.xlsx', index_col='ID')
def age_18_25(a):
    return 18 <= a < 25
def score_a(a):
    return 85 <= a < 200
students = students.loc[students['age'].apply(age_18_25)].loc[students['score'].apply(score_a)]
print(students)

           name  age  score
ID
1   Student_001   24     87
3   Student_003   18    112
7   Student_007   21     89
9   Student_009   24     85
17  Student_017   23     94

In [15]:
# 用lambda表达式取代
import pandas as pd
students = pd.read_excel('./students.xlsx', index_col='ID')
students = students.loc[students['age'].apply(lambda x:18<=x<25)].loc[students['score'].apply(lambda x:85<=x<200)]
print(students)

           name  age  score
ID
1   Student_001   24     87
3   Student_003   18    112
7   Student_007   21     89
9   Student_009   24     85
17  Student_017   23     94

In [ ]:
# 一行太长。空格+\。\后面的内容写到下一行

In [16]:
# 用lambda表达式取代
import pandas as pd
students = pd.read_excel('./students.xlsx', index_col='ID')
students = students.loc[students['age'].apply(lambda x:18<=x<25)] \
.loc[students['score'].apply(lambda x:85<=x<200)]
print(students)

           name  age  score
ID
1   Student_001   24     87
3   Student_003   18    112
7   Student_007   21     89
9   Student_009   24     85
17  Student_017   23     94